.navbar {
    background-color: #19123B;
}
.btn-login {
    margin-right: 20px;
    margin-left: 1000px;
}
.hero-img {
    margin-top: 50px;
}
.text-hero {
    margin-top: 50px;
}
.btn-hero {
    margin-top: 50px;
}
.wave-img {
    margin-top: 60px;
}